@import url('https://fonts.googleapis.com/css2?family=BIZ+UDPMincho&display=swap');

/* C O M P O N E N T E S */

.fondo{
    background-color: #191919;
}
a{
    text-decoration: none;
    color: white;
}
p{
    color: white;
}


    /* ///////// N A V B A R ////////// */

.logo{
    width: 10rem;
}


    /* ///////// C A R R U S E L ////////// */

.carouselImg {
    height: 280px;
    object-fit: cover;
}
.carouselRow {
    padding-top: 1rem;
    padding-bottom: 1rem;
}


    /* ///////// F O O T E R ////////// */

.bi-facebook:hover {
    color: #1877F2;
    transform: scale(1.05);
}
.bi-instagram:hover {
    color: #C13584;
    transform: scale(1.05);
}
.bi-youtube:hover {
    color: #FF0000;
    transform: scale(1.05);
}
.bi-vimeo:hover {
    color: #1ab7ea;
    transform: scale(1.05);
}
.bi-tiktok:hover {
    color: #ee1d52;
    transform: scale(1.05);
}
.bi-linkedin:hover {
    color: #0077B5;
    transform: scale(1.05);
}


    /* ///////// P R O Y E C T O S ////////// */

    .galeriaCard {
        width: auto;
        transition: 1s;
    }
    .galeriaCard:hover {
        box-shadow:  4px 4px 8px #c5c5c5;
        text-shadow: 2px 2px 4px #000000;
        transform: scale(1.05);
    }
    .galeriaImg {
        height: 10rem;
        object-fit: cover;
    }
    

    /* ///////// C O R T O M E T R A J E ////////// */

    .gallery-wrap .img-big-wrap img {
        height: 450px;
        width: auto;
        display: inline-block;
        max-width: 100%;
        max-height: 100%;
        object-fit: cover;
        border-radius: 4px;
    }
    .cortoTitulo {
        color: white;
        font-family: 'BIZ UDPMincho';
    }
    .verAhora:hover  {
        color: white;
    }



/* ///////// R E C O N O C I M I E N T O S ////////// */

    .recon{
        color: #ffffff;
    }
    .reconimg{
        width: 711px;
    }

    /* ///////// R E S P O N S I V E ////////// */

    @media screen and (max-width:757px){
        .reconimg{
            width: 550px;
        }
    }

    @media screen and (max-width: 425px) {
        .galleryItem {
            width: 367px;
        }
        .reconimg{
            width: 380px;
        }
    }

    @media screen and (max-width:320px){
        .reconimg{
            width: 280px;
        }
    }