.bi-facebook:hover {
    color: #1877F2;
    transform: scale(1.05);
}
.bi-instagram:hover {
    color: #C13584;
    transform: scale(1.05);
}
.bi-youtube:hover {
    color: #FF0000;
    transform: scale(1.05);
}
.bi-linkedin:hover {
    color: #0077B5;
    transform: scale(1.05);
}