.galeriaCard {
    width: auto;
    transition: 1s;
}
.galeriaCard:hover {
    box-shadow:  4px 4px 8px #c5c5c5;
    text-shadow: 2px 2px 4px #000000;
    transform: scale(1.05);
}
.galeriaImg {
    height: 10rem;
    object-fit: cover;
}
